body {
    margin: 0;
    padding: 0;
}

canvas {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+31,fcfcfc+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 31%, #fcfcfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 31%,#fcfcfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 31%,#fcfcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}

#js-headline {
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    width: 100%;
    z-index: 2;
    text-align: center;
    overflow: hidden;
}
#js-headline h1 {
    color: #ddd;
    font-size: 150px;
    width: 100%;
    margin: 0;
    /*transform: translate3d(0, 100%, 0);*/
    opacity: 0;
    transition: transform 3s, opacity 3s;
}
#js-headline.is-active h1 {
    /*transform: translate3d(0, 0, 0);*/
    opacity: .9;
}